{% extends 'layout.html.twig' %}

{% block page_content %}
    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% block box_body %}
            <div class="row">
                <div class="col-lg-6">
                    {{ form(form) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}