{% extends 'layout.html.twig' %}

{% block page_content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Название</h3>
            <div class="card-tools">
            </div>
        </div>

        <div class="card-body">
            <div class="tab-content" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="">
                    <div class="row">
                        <div class="col-lg-12">
                            <form method="get">
                                <div class="input-group">
                                    <input type="text" name="filter" id="filter" class="form-control" placeholder="Search" value="{{ filter ? filter | json_encode : '' }}">
                                    <span class="input-group-btn">
                                        <button type="submit"  class="btn btn-flat"><i class="fas fa-search"></i> Search</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
    {# ##################################################### #}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby=""></div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby=""></div>
            </div>
        </div>
    </div>


{% endblock %}